<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miniprogram.mapper.ParkMapper">
    <select id="list" resultType="com.miniprogram.pojo.Park">
        SELECT * FROM tb_park
    </select>
    <select id="availableList" resultType="com.miniprogram.pojo.Park">
        SELECT * FROM tb_park WHERE map_id IS NOT NULL
    </select>
    <select id="getParkById" resultType="com.miniprogram.pojo.Park">
        SELECT * FROM tb_park WHERE park_id=#{parkId}
    </select>
    <insert id="insert">
        INSERT INTO tb_park(park_name,longitude,latitude,address,park_capacity,max_capacity,price)
        VALUES(#{parkName},#{longitude},#{latitude},#{address},#{maxCapacity},#{maxCapacity},#{price})
    </insert>
    <update id="updatePark">
        UPDATE tb_park SET park_name=#{parkName},longitude=#{longitude},latitude=#{latitude},address=#{address},
        park_capacity=#{parkCapacity},max_capacity=#{maxCapacity},price=#{price},map_id=#{mapId} WHERE park_id=#{parkId}
    </update>
    <update id="reserve">
        UPDATE tb_park SET park_capacity=park_capacity-1 WHERE park_id=#{parkId}
    </update>
    <update id="addCapacity">
        UPDATE tb_park SET park_capacity=park_capacity+#{number} WHERE park_id=#{parkId}
    </update>
</mapper>