<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miniprogram.mapper.UserMapper">
    <select id="list" resultType="com.miniprogram.pojo.User">
        SELECT * FROM tb_user
    </select>
    <select id="getCarByUser" resultType="java.lang.String">
        SELECT car_id FROM tb_user WHERE open_id=#{openId}
    </select>
    <insert id="insert">
        INSERT INTO tb_user(open_id) VALUES(#{openId})
    </insert>
    <update id="updateLocation">
        UPDATE tb_user SET latitude=#{latitude},longitude=#{longitude} WHERE open_id=#{openId}
    </update>
    <update id="bindCar">
        UPDATE tb_user SET car_id=#{carId} WHERE open_id=#{openId}
    </update>
    <update id="unbindCar">
        UPDATE tb_user SET car_id=null WHERE open_id=#{openId}
    </update>
</mapper>